html, body {
    background-color: #1e1e1e;
    margin: 0;
    padding: 0;
    height: 100%;
}

.title {
    background-color: #FFF;
    
}

.container {
    display: flex;
    width: 100vh;
    height: 100%;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    
}

.clock {
    background-color: #FFF;
    width: 55rem;
    height: 20rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}